
body {
    width: 100%;
    justify-content:center;
   
}

h1 {
    padding-top: 10%;
    padding-bottom: 30px;
}

.about-us {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}