<head>
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round&family=Mukta:wght@500&display=swap" rel="stylesheet">
</head>

<!--- Image Slider -->
<body>

<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img  class="d-block w-100" src="https://images.pexels.com/photos/3153198/pexels-photo-3153198.jpeg?cs=srgb&dl=woman-sharing-her-presentation-with-her-colleagues-3153198.jpg&fm=jpg" width="100%" height="634" alt="StockSnap_0E0M5W9O3V"> 
            <div class="carousel-caption">
                <h1 class="display-2">DLim Solutions</h1>
               
                <button type="button" class="btn btn-outline-light btn-lg">VIEW DEMO</button>
                <button type="button" class="btn btn-primary btn-lg">Learn More</button>
            </div>
        </div>
        <div class="carousel-item" id="slide2">
            <img class="d-block w-100" src="https://live.staticflickr.com/65535/49469867317_a134809009.jpg" width="100%" height="334" alt="StockSnap_0E0M5W9O3V"> 
          <div class="carousel-caption">
            <h2>Let us help you make your next hire.</h2>
            </div>
        </div>
        <div class="carousel-item" id="slide3">
            <img class="d-block w-100" src="https://live.staticflickr.com/65535/49469867317_a134809009.jpg" width="500" height="334" alt="StockSnap_0E0M5W9O3V"> 
        <div class="carousel-caption">
            <h2>So you can focus on other things.</h2>
            </div>
        </div>
    </div>	
    </div>

    <div class="about">
        <h5>About Us</h5>
        <h2>Junior Developers </h2>
        <h2>Building Professional Websites</h2> 
        <h2>at Junior Prices</h2>
        <h5 id="description">DLim Solutions is a web consulting agency offering web development services to individuals and small businesses. Our team consists of junior developers skilled in full stack development eager to show off our skills for a modest price.</h5>
        <h5>Email us today for a free consult!</h5>
    </div>


   
  
  

    </body>