body {
  
}

.carousel-caption{
    padding-bottom: 20%;
}

img {
    height: 100vh;
    width: 100vw;
    filter:brightness(.5);
}

h1 {
    padding-bottom: 5%;
}

h2 {
    
    font-size: 45px;
    font-family: 'Mukta', ser if;
    color: #1e3954;
}

h5 {
    color: gray;
    padding-bottom: 20px;
    
}

#description {
    padding-top: 100px;
}

.about {
    text-align: center;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
}

.carousel-item {
    display: block !important;
    z-index: 1;
    position: absolute;
    transition: opacity 1.5s easy-in-out, visibility 1s;
    opacity: 0;
    visibility: hidden;
}
.carousel-item.active {
    position: relative;
    transition: opacity 1.5s easy-in-out, visibility 1s;
    visibility: visible;
    opacity: 1;
}