<head>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

</head>

<body>
  <div class="cover-image img-fluid">
   <!-- <img src="https://c0.wallpaperflare.com/preview/264/169/201/book-read-student-students.jpg" class="img-fluid" alt="Responsive image"> -->
    <div class="message">
      <h1>Have children?</h1>
      <h2>Do they need tutoring?</h2>
      <h3>Math * Science * Reading</h3>
      <h4>Persuasive Writing?</h4>
      <h5>Hire a Dev... We've got you covered!</h5>
      <h5 class="orange">Our rates are below:</h5>
    </div>
  </div>

  <!-- Middle Section Starts Here-->

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header bg-transparent border-success">
            <h5 class="card-title">Math</h5>
          </div>
          <div class="card-body text-dark">
           
            <p class="card-text">General Math: $32 per Hour</p>
            <p class="card-text">Statistics: $35 per Hour</p>
            <p class="card-text">Calculus: $45-$60 per Hour</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <button type="button" class="btn btn-warning">Book Tutor</button>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header bg-transparent border-success">
            <h5 class="card-title">Science</h5>
          </div>
          <div class="card-body text-dark">
          
            <p class="card-text">General: $32 per Hour</p>
            <p class="card-text">Chemistry: $45 per Hour</p>
            <p class="card-text">Physics: $45 per Hour</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <button type="button" class="btn btn-success">Book Tutor</button>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header bg-transparent border-success">
            <h5 class="card-title">Reading</h5>
          </div>
          <div class="card-body text-dark">
            
            <p class="card-text">Basic Reading: $30 per Hour</p>
            <p class="card-text">General: $32 per Hour</p>
            <p class="card-text">Speed Read: $35 per Hour</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <button type="button" class="btn btn-warning">Book Tutor</button>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header bg-transparent border-success">
            <h5 class="card-title">Writing</h5>
          </div>
          <div class="card-body text-dark">
           
            <p class="card-text">General: $32 per Hour</p>
            <p class="card-text">Specialized: $35 per Hour</p>
            <p class="card-text">Collaborative: $35 per Hour</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <button type="button" class="btn btn-success">Book Tutor</button>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>