<head>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

</head>

<body>
  <div class="cover-image img-fluid">
   <!-- <img src="https://c0.wallpaperflare.com/preview/264/169/201/book-read-student-students.jpg" class="img-fluid" alt="Responsive image"> -->
    <div class="message">
      <h1>Have children?</h1>
      <h2>Do they need tutoring?</h2>
      <h3>Math * Science * Reading</h3>
      <h4>Persuasive Writing?</h4>
      <h5>Hire a Dev... We've got you covered!</h5>
      <h5 class="orange">Our rates are below:</h5>
    </div>
  </div>
</body>