<head>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

</head>

<h1>How can we help you today?</h1>
<p style="padding-bottom: 30px;">Please tell us about your project below, and one of our developers will contact you shortly.</p>
<hr style="width:60%;text-align:center; padding-bottom: 30px;">

<div class="form-group" style="width: 45%; margin-left: 27%;">
    <h4>About the Project</h4>
    <hr style="width:100%;text-align:center; padding-bottom: 30px;">

    <!--Input Boxes Start Here -->

    <div class="container">
        <div class="row">
          <div class="col">
            <select class="form-control" id="project-type">
                <option>Project Type</option>
                <option>Web Design</option>
                <option>Web Development</option>
                <option>Database Assistance</option>
                <option>Debugging</option>
              </select>
          </div>
          <div class="col">
            <select class="form-control" id="project-type">
                <option>Timeline</option>
                <option>1-2 Weeks</option>
                <option>2-4 Weeks</option>
                <option>1-3 Months</option>
                <option>3-6 Months</option>
              </select>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <input type="text" class="form-control" id="project-type" placeholder="Special Requests">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="project-type" placeholder="Budget">
          </div>
        </div>
      </div>

       <!--Description Box Starts Here -->

       <textarea class="form-control" rows="5" id="comment" placeholder="Project Description" style="width: 96%; margin-left: 2%; margin-top:5%; margin-bottom: 5%;"></textarea>

       <!--Contact Info Starts Here -->

        <h4>Contact Information</h4>
        <hr style="width:100%;text-align:center; padding-bottom: 30px;">

        <div class="container">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" id="project-type" placeholder="First Name">
            </div>
            <div class="col">
              <input type="text" class="form-control" id="project-type" placeholder="Last Name">
            </div>
            <div class="w-100"></div>
            <div class="col">
              <input type="text" class="form-control" id="project-type" placeholder="Phone Number">
            </div>
            <div class="col">
              <input type="text" class="form-control" id="project-type" placeholder="Email">
            </div>
          </div>
        </div>

         <!--Comment Box Starts Here -->

       <textarea class="form-control" rows="5" id="comment" placeholder="Additional Comments" style="width: 96%; margin-left: 2%; margin-top:5%; margin-bottom: 5%;"></textarea>

        <!-- Button is Here-->

        <div class="middle">
          <button type="button" class="btn btn-primary btn-lg">Submit Request</button>
        </div>



</div>

