<head>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Design or Develop</h1>
      <p class="lead">...</p>
      <p class="lead">We do both.</p>
    </div>
    <p class="lead">...</p>
    <p class="lead">Tell us about your project below:</p>
  </div>

  <div class="middle">
    <button type="button" class="btn btn-primary btn-lg">Project Request</button>
  </div>
